* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-family: "Yanone Kaffeesatz";
}

.main-block {
  background-repeat: no-repeat;
  background-color: #000;
  padding: 2rem 3rem;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.inner {
  display: flex;
  flex-direction: column;
  /* &-background {
       max-width: max-content;
       max-height: max-content;

   }*/
}
.inner .inner-logo {
  max-width: 126px;
}
.inner .inner-online {
  margin-top: 5.5rem;
  font-size: 60px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 9%;
  color: #FFFFFF;
}
.inner .inner-insta {
  padding-left: 1.5rem;
  margin-top: 4rem;
  max-width: 517px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-left: 1px solid #F00;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.18em;
  justify-content: start;
  color: rgba(255, 255, 255, 0.85);
}
.inner .inner-insta strong {
  font-weight: 700;
  font-size: 17px;
  line-height: 19.92px;
}
.inner .inner-rate {
  border: 1px solid #FFFFFF;
  padding: 1rem;
  width: 100%;
  max-width: 270px;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  letter-spacing: 0.09em;
  color: aliceblue;
}
.inner .inner-rate .inner-rate-tarif {
  color: #FFFFFF;
  text-decoration: none;
}
.inner .inner-player-block {
  display: flex;
}
.inner .inner-player-block .inner-player-button {
  position: relative;
  width: 90px;
  height: 90px;
}
.inner .inner-player-block .inner-player-button .inner-playersign {
  position: absolute;
  width: 54px;
  top: 0;
  left: 0;
}
.inner .inner-player-block .inner-player-button .inner-playersign2 {
  position: absolute;
  width: 54px;
  bottom: 0;
  right: 0;
}
.inner .inner-player-block .inner-player-button .inner-button {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}
.inner .inner-player-block .inner-player {
  height: 3px;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0.09em;
  color: rgba(255, 255, 255, 0.8);
}
.inner .inner-player-block .inner-playersong {
  height: 21px;
  font-size: 18px;
  font-family: "Roboto";
  line-height: 21px;
  color: #FFFFFF;
}
.inner .inner-training {
  position: relative;
  text-align: right;
  font-family: Roboto;
  font-weight: normal;
  font-size: 15px;
  line-height: 17.58px;
  letter-spacing: 0.31em;
}
.inner .inner-training .inner-training-color {
  color: #FFFFFF;
  text-decoration: none;
}
.inner .inner-training .inner-arrow {
  position: absolute;
  bottom: -50px;
  right: 70px;
  width: 10px;
  height: 45px;
  background-color: black;
  text-align: right;
}

.inner-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
.inner-2 .inner-2-phone {
  text-align: right;
}
.inner-2 .inner-2-phone .inner-2-phone-number {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  letter-spacing: 0.09em;
  text-decoration: none;
  color: #FFFFFF;
}
.inner-2 .inner-2-phone .inner-2-tele {
  max-width: 15px;
  font-size: 20px;
  margin-right: 9px;
  background-color: #111;
}
.inner-2 .inner-2-girl {
  height: 100%;
  width: 100%;
  max-height: 700px;
  max-width: 700px;
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.inner-2 .inner-2-anyany {
  position: relative;
  transform: translate(-70px, -40px);
}
.inner-2 .inner-2-anyany .inner-2-anywhere {
  max-width: 900px;
  width: 100%;
  height: 162px;
  background: url("./img/anywhere.svg") no-repeat center;
  background-size: contain;
}
.inner-2 .inner-2-anyany .inner-2-anytime {
  margin-left: auto;
  max-width: 700px;
  width: 100%;
  height: 162px;
  background: url("./img/anytime.svg") no-repeat center;
  background-size: contain;
}
.inner-2 .inner-2-promt-promt {
  position: absolute;
  right: 0;
  top: 50px;
  height: 100%;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: mixed;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: right;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.295em;
  color: rgba(255, 0, 0, 0.35);
  transform: rotate(180deg);
}

.main-block-2 {
  width: 100vw;
  min-height: 100vh;
  background: #232323;
  padding: 15px 0;
}

.iner-3 {
  margin: 89px 98px 88px 105px;
  display: flex;
  width: 1161px;
  height: 500px;
}

.iner-3-border-1 {
  margin: 1px;
  height: 497px;
  width: 430px;
  border: 1px solid #F00;
}
.iner-3-border-1 .iner-3-border-1-s {
  height: 100%;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.iner-3-border-1 .iner-3-border-1-text {
  position: absolute;
  top: 91%;
  left: 4%;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2.7px;
}

.iner-3-border-2 {
  margin: 1px;
  height: 497px;
  width: 430px;
  border: 1px solid #F00;
  transform: skew(36deg);
}
.iner-3-border-2 .iner-3-border-2-2 {
  transform: skew(-36deg);
  height: 100%;
  width: 100%;
}
.iner-3-border-2 .iner-3-border-2-2 .iner-3-border-2-2-s {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.iner-3-border-2 .iner-3-border-2-2 .iner-3-border-2-2-text {
  position: absolute;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2.7px;
  top: 55%;
  left: 24%;
}

.iner-3-border-3 {
  margin: 1px;
  height: 497px;
  width: 430px;
  border: 1px solid #F00;
  transform: skew(36deg);
}
.iner-3-border-3 .iner-3-border-3-3 {
  transform: skew(-36deg);
  height: 100%;
  width: 100%;
}
.iner-3-border-3 .iner-3-border-3-3 .iner-3-border-3-3-s {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.iner-3-border-3 .iner-3-border-3-3 .iner-3-border-3-3-text {
  position: absolute;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2.7px;
  top: 26.5%;
  left: 12%;
}

.iner-3-border-4 {
  margin: 1px;
  height: 497px;
  width: 430px;
  border: 1px solid #F00;
}
.iner-3-border-4 .iner-3-border-4-4 {
  height: 100%;
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.iner-3-border-4 .iner-3-border-4-4-text {
  position: absolute;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2.7px;
  top: 3%;
  left: -25%;
}/*# sourceMappingURL=styles.css.map */